body,
html {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
}

.navbar {
  background-color: rgb(17, 17, 17);
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 500px; /* Adjust this value for desired width */
  margin: 0 auto; /* Center horizontally */
  margin-top: 16px;
  position: absolute;

  /* Centering code */
  left: 50%;
  transform: translateX(-50%);
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.container {
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text content within the container */
}

/* Improve readability with consistent margins */
.small-box {
  border-radius: 5px;
  margin: 10px;
}

.small-box p {
  font-size: 20px;
  margin: 5px;
}

.small-box h1 {
  font-size: 32px; /* Use a more appropriate size for headings */
}

.right-side {
  border-radius: 5px;
  padding: 10px;
}

.right-side img {
  border-radius: 10px;
  object-fit: cover;
  max-width: 400px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

/* Responsive adjustments */

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .home-content h1 {
    font-size: 30px;
  }
  .small-box p {
    font-size: 16px;
  }

  .right-side img {
    max-width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    font-size: 14px; /* Further reduce font size for very small screens */
  }

  .small-box h1 {
    font-size: 24px;
  }

  .right-side img {
    max-width: 200px;
  }
}

.home-section {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  place-items: center;
  box-shadow: inset 0px -170px 100px 0px rgb(0, 0, 0);
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-content h1 {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.videoBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  overflow: hidden;
}

#homeVideo {
  top: 0;
  left: 0;
}

.about-section {
  height: 100vh;
  box-shadow: 0px 0px 30px 61px rgba(0, 0, 0, 0.75);
  background-color: black;
}

.containerA {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 25%;
}

.containerA h1 {
  position: absolute;
  font-size: 80px;
  transform: translate(100%, -65%);
  margin: 0;
  text-align: center;
}

.overlay {
  position: absolute;
  transform: translate(
    45%,
    60%
  ); /* Center the overlay point within the container */
  width: 400px;
  height: 280px; /* Adjust height as needed */
  background-color: rgb(17, 17, 17); /* Replace with your color choice */
}

.overlay p {
  padding: 20px;
  margin: 0;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
}

.containerA img {
  transform: translate(-35%, 0%);
}

.containerA,
.overlay,
img {
  border-radius: 8px;
}

@media (max-width: 768px) {
  .overlay {
    transform: translate(0%, 10%);
    top: 70%;
  }

  .containerA img {
    transform: translate(0, 0);
  }

  .containerA h1 {
    transform: translate(0%, -185%);
    text-align: center;
  }

  .about-section {
    height: 120vh;
  }
}

@media (max-width: 480px) {
  .containerA img {
    width: 90%;
  }

  .overlay {
    width: 80%;
  }

  .containerA h1 {
    transform: translate(0%, -180%);
    font-size: 70px;
  }

  .overlay p {
    font-size: 4.5vw;
    line-height: 35px;
  }
}

@media (max-width: 375px) {
  .overlay {
    height: 250px;
  }
}
#contactPage {
  height: 100vh;
  width: 100%;
  background-color: black;
}

.containerContact {
  display: flex;
  justify-content: center; /* Horizontally center */
  gap: 60px;
  align-items: center;
  height: 100%;
}

.containerContact h1{
  position: absolute;
  font-size: 80px;
  transform: translate(0%, -200%);
}

.image-text-container {
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
  flex-direction: column;
  text-align: center;
  background-color: rgb(17, 17, 17);
  height: 200px;
  width: 200px;
  border-radius: 15px;
}

.image-text-container img {
  width: 110px;
  height: auto;
  margin-bottom: 5px;
  filter: grayscale(100%);
  transition: filter 0.25s ease-in-out; /* Animation properties */
}

.image-text-container p {
  margin-top: 10px;
}

.image-text-container:hover img{
  filter: grayscale(0%); /* Remove grayscale on hover */
  width: 120px;
}

.image-text-container:hover {
  box-shadow: 0px 0px 30px 2px rgba(255, 255, 255, 0.75);
}

.image-text-container p {
  font-weight: bold;
}

@media (max-width: 768px) {
  .containerContact {
    flex-flow: column;
  }

  .containerContact {
    gap: 20px;
  }

  .containerContact h1{
    font-size: 10vw;
    text-align: start;
    position: relative;
    transform: translate(0%, 0%);
  }

  .image-text-container img {
    width: 90px;
  }

  .image-text-container:hover img{
    width: 100px;
  }

  .image-text-container:hover {
    box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.75);
  }
  
}





/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77). 
        
The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/


:root {
	/* Base font size */
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.containerGallery {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-size: 10rem;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: white;
  margin: 0;
}

.heading span {
	display: block;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	/* Compensate for excess margin on outer gallery flex items */
	margin: -1rem -1rem;
}

.gallery-item {
	/* Minimum width of 24rem and grow to fit available space */
	flex: 1 0 24rem;
	/* Margin value should be half of grid-gap value as margins on flex items don't collapse */
	margin: 1rem;
	box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 95%;
	height: 95%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery,
	.gallery-item {
		margin: 0;
	}
}
